<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    </configSections>
    <connectionStrings>
        <add name="tMax14.Properties.Settings.ConnectionString" connectionString="character set=WIN1254;data source=192.168.1.245;initial catalog=tMax14;user id=sysdba;password=masterkey;pooling=True;connectionlifetime=30"
            providerName="FirebirdSql.Data.FirebirdClient" />
        <add name="tMax14.Properties.Settings.tMax06ConnectionString"
            connectionString="character set=WIN1254;data source=192.168.1.245;initial catalog=tMax06;user id=sysdba;password=masterkey;connectiontimeout=30"
            providerName="FirebirdSql.Data.FirebirdClient" />
        <add name="tMax14.Properties.Settings.ConnectionStringDoc" connectionString="character set=WIN1254;data source=192.168.1.245;user id=sysdba;password=masterkey;initial catalog=tmax14doc;connectionlifetime=30;pooling=True"
            providerName="FirebirdSql.Data.FirebirdClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Caliburn.Micro" publicKeyToken="8e5891231f2ed21f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.0" newVersion="1.5.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="FirmAccountActivitySoapSoapBinding" maxReceivedMessageSize="524288" maxBufferSize="524288">
          <security mode="Transport" />
        </binding>
        <binding name="FirmAccountActivitySoapSoapBinding1" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://inboundrstintws.garanti.com.tr/services/FirmAccountActivitySoap" binding="basicHttpBinding" bindingConfiguration="FirmAccountActivitySoapSoapBinding" contract="ServiceReference1.FirmAccountActivitySoap" name="FirmAccountActivitySoap" />
    </client>
  </system.serviceModel>
<system.data>
		<DbProviderFactories>
			<remove invariant="FirebirdSql.Data.FirebirdClient" />
			<add name="FirebirdClient Data Provider" invariant="FirebirdSql.Data.FirebirdClient" description=".NET Framework Data Provider for Firebird" type="FirebirdSql.Data.FirebirdClient.FirebirdClientFactory, FirebirdSql.Data.FirebirdClient" />
		</DbProviderFactories>
	</system.data></configuration>
